In [2]:
import pandas as pd
import os

In [3]:
path = '../landing/'
name = 'stores.csv'
df = pd.read_csv(path+name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    3 non-null      int64
 1   store_name  3 non-null      object
 2   phone       3 non-null      object
 3   email       2 non-null      object
 4   street      3 non-null      object
 5   city        3 non-null      object
 6   state       3 non-null      object
 7   zip_code    2 non-null      float64
 8   source      3 non-null      object
 9   timestamp   3 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 368.0+ bytes

In [4]:
df

,store_id,store_name,phone,email,street,city,state,zip_code,source,timestamp
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,datalake,2024-04-30 07:52:07.931216
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,datalake,2024-04-30 07:52:07.931216
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,datalake,2024-04-30 07:52:07.931216

In [5]:
# Assuming 'name' contains the file name including the extension '.csv'
file_name = name[:-4]
new_path = '../staging_1/'

# Expand '~' to the user's home directory
new_path = os.path.expanduser(new_path)

# Construct the folder path with the file name
folder_path = os.path.join(new_path, file_name)

# Create the folder
os.makedirs(folder_path, exist_ok=True)

# Construct the file path within the newly created folder
file_path = os.path.join(folder_path, name)

# Save brands_df to the file_path
df.to_csv(file_path, index=False)