In [17]:
import pandas as pd
import requests
# .get() method :: to send a request and recieve the replay

response = requests.get('https://openexchangerates.org/api/latest.json',\
                        params={'app_id':'a91ca668be7a4d42b77e05fbce252c70'})
response.status_code

200

In [18]:
data = response.json()
data

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms',
 'license': 'https://openexchangerates.org/license',
 'timestamp': 1714600800,
 'base': 'USD',
 'rates': {'AED': 3.67284,
  'AFN': 72.094775,
  'ALL': 93.75,
  'AMD': 388.01106,
  'ANG': 1.80202,
  'AOA': 836.5,
  'ARS': 873.3223,
  'AUD': 1.532759,
  'AWG': 1.8025,
  'AZN': 1.7,
  'BAM': 1.832981,
  'BBD': 2,
  'BDT': 109.73707,
  'BGN': 1.832947,
  'BHD': 0.377045,
  'BIF': 2868.22652,
  'BMD': 1,
  'BND': 1.364755,
  'BOB': 6.90922,
  'BRL': 5.1959,
  'BSD': 1,
  'BTC': 1.7292966e-05,
  'BTN': 83.916186,
  'BWP': 14.203307,
  'BYN': 3.272337,
  'BZD': 2.01551,
  'CAD': 1.373853,
  'CDF': 2792.890738,
  'CHF': 0.916486,
  'CLF': 0.034805,
  'CLP': 960.817385,
  'CNH': 7.233505,
  'CNY': 7.2409,
  'COP': 3900.867413,
  'CRC': 510.225276,
  'CUC': 1,
  'CUP': 25.75,
  'CVE': 103.336311,
  'CZK': 23.4504,
  'DJF': 177.662377,
  'DKK': 6.961907,
  'DOP': 58.201633,
  'DZD': 134.646,
  'EGP': 47.7003,
  'ERN': 15,
  'ETB': 57.205,
  'EUR': 0.933328,
  'FJD': 2.29085,
  'FKP': 0.798405,
  'GBP': 0.798405,
  'GEL': 2.675,
  'GGP': 0.798405,
  'GHS': 13.699648,
  'GIP': 0.798405,
  'GMD': 67.75,
  'GNF': 8594.988859,
  'GTQ': 7.772077,
  'GYD': 209.319798,
  'HKD': 7.822997,
  'HNL': 24.769999,
  'HRK': 7.033398,
  'HTG': 132.567317,
  'HUF': 364.486169,
  'IDR': 16209.461417,
  'ILS': 3.755845,
  'IMP': 0.798405,
  'INR': 83.408443,
  'IQD': 1309.955257,
  'IRR': 42062.5,
  'ISK': 139.96,
  'JEP': 0.798405,
  'JMD': 156.00382,
  'JOD': 0.7087,
  'JPY': 154.26994444,
  'KES': 133.743374,
  'KGS': 88.6821,
  'KHR': 4065.617428,
  'KMF': 461.299821,
  'KPW': 900,
  'KRW': 1375.959329,
  'KWD': 0.30818,
  'KYD': 0.833267,
  'KZT': 442.387951,
  'LAK': 21352.212128,
  'LBP': 89577.88832,
  'LKR': 298.133449,
  'LRD': 193.399983,
  'LSL': 18.672171,
  'LYD': 4.8737,
  'MAD': 10.11171,
  'MDL': 17.640701,
  'MGA': 4444.5,
  'MKD': 57.741055,
  'MMK': 2099.763636,
  'MNT': 3450,
  'MOP': 8.057789,
  'MRU': 39.633291,
  'MUR': 46.369997,
  'MVR': 15.46,
  'MWK': 1735.982893,
  'MXN': 16.997706,
  'MYR': 4.7725,
  'MZN': 63.950007,
  'NAD': 18.636085,
  'NGN': 1325.13,
  'NIO': 36.725,
  'NOK': 11.039886,
  'NPR': 134.265898,
  'NZD': 1.687403,
  'OMR': 0.38496,
  'PAB': 1,
  'PEN': 3.76393,
  'PGK': 3.859329,
  'PHP': 57.714004,
  'PKR': 278.496428,
  'PLN': 4.045581,
  'PYG': 7493.109548,
  'QAR': 3.6424,
  'RON': 4.6445,
  'RSD': 109.742,
  'RUB': 93.509999,
  'RWF': 1291.956429,
  'SAR': 3.750709,
  'SBD': 8.482643,
  'SCR': 13.798318,
  'SDG': 570.5,
  'SEK': 10.923902,
  'SGD': 1.360509,
  'SHP': 0.798405,
  'SLL': 20969.5,
  'SOS': 570.5,
  'SRD': 33.8135,
  'SSP': 130.26,
  'STD': 22281.8,
  'STN': 22.961467,
  'SVC': 8.748788,
  'SYP': 2512.53,
  'SZL': 18.650924,
  'THB': 36.983,
  'TJS': 10.919324,
  'TMT': 3.5,
  'TND': 3.147,
  'TOP': 2.388268,
  'TRY': 32.449401,
  'TTD': 6.793004,
  'TWD': 32.4975,
  'TZS': 2607.288,
  'UAH': 39.594104,
  'UGX': 3808.774355,
  'USD': 1,
  'UYU': 38.328115,
  'UZS': 12608.316823,
  'VES': 36.427436,
  'VND': 25345.340299,
  'VUV': 118.722,
  'WST': 2.8,
  'XAF': 612.223273,
  'XAG': 0.03755093,
  'XAU': 0.00043136,
  'XCD': 2.70255,
  'XDR': 0.758947,
  'XOF': 612.223273,
  'XPD': 0.0010508,
  'XPF': 111.3757,
  'XPT': 0.0010504,
  'YER': 250.349961,
  'ZAR': 18.595021,
  'ZMW': 26.773697,
  'ZWL': 322}}

In [19]:
df = pd.json_normalize(data)
df.drop('disclaimer', axis=1, inplace=True)

In [20]:
rename_function = lambda x: x[6:] if x.startswith('rates.') else x

df.rename(columns=rename_function, inplace=True)

In [21]:
df

,license,timestamp,base,AED,AFN,ALL,AMD,ANG,AOA,ARS,...,XCD,XDR,XOF,XPD,XPF,XPT,YER,ZAR,ZMW,ZWL
0,https://openexchangerates.org/license,1714600800,USD,3.67284,72.094775,93.75,388.01106,1.80202,836.5,873.3223,...,2.70255,0.758947,612.223273,0.001051,111.3757,0.00105,250.349961,18.595021,26.773697,322

In [22]:
df = df[['EGP', 'timestamp']]
df['source'] = 'API'

/tmp/ipykernel_4996/3383657145.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['source'] = 'API'

In [23]:
df

       EGP   timestamp source
0  47.7003  1714600800    API

In [25]:
df.to_csv('../landing/exchange.csv', index=False)